<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Permissões</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="novo()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="permissoes.length; else vazio">
    <ion-item *ngFor="let p of permissoes; let i = index">
      <ion-label>{{ p }}</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="editar(i)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="excluir(i)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ng-template #vazio>
    <ion-text color="medium">Nenhuma permissão cadastrada.</ion-text>
  </ng-template>

  <ion-modal [isOpen]="modalAberto" (didDismiss)="modalAberto=false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ editando !== null ? 'Editar Permissão' : 'Nova Permissão' }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modalAberto=false">Fechar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input label="Nome da permissão" label-placement="stacked" [(ngModel)]="form.nomperm"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="salvar()">Salvar</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
